extends layout

block content

    h1= "login"
    form(action="/auth/login", method="post")
        input(type="text", name="username")
        input(type="password", name="password")
        input(type="submit", value="Log in")
