extends layout

block content

    h1= "sign up"
    form(action="/auth/signup", method="post")
        input(type="text", name="username")
        input(type="password", name="password")
        input(type="submit", value="Sign up")
