extends layout

block content

    h1= "user dashboard"
    p
        a(href='/app') create map

    p
        a(href='#') profile

    p
        a(href='#') search for user

    p
        a(href='#') view maps